* {
    margin: 0;
    padding: 0;
  }
  .header {
    background-color:#4267B2;
    display: flex;
    color: white;
  }
  
  h1 {
    color: white;
    font-size: 45px;
    margin: 29px 390px 2px 175px;
    padding: 0px 0px 0px 0px;
  }
  .right {
    font-size: 17px;
    margin: 10px 50px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .right1 {
    font-size: 17px;
    margin: 10px 50px 5px 0px;
    padding: 0px 0px 0px 0px;
  }
  .right1 a {
    font-size: 17px;
    color: white;
    text-decoration: none;
  }
  .btn {
    background-color:#4267B2;
    color:white;
    font-weight:bold;
    font-size: 10px;
    margin: 30px 0px 0px -18px;
    padding: 0px 0px 0px 0px;
  }
  input[type="text"],
  input[type="password"] {
    padding: 5px;
    margin: 0px;
    width: 196px;
  }
  input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
  }
  input[type="button"] {
    background-color: #4267B2;
    width: 64px;
    padding: 6px;
    margin: 0px;
    color:white;
    font-weight: bold;
  }
  .left {
    display: inline-block;
    font-size: 20px;
    width: 40vw;
    padding: 0px 0px 0px 0px;
    margin: 116px 0px 0px 55px;
  }
  h3 {
    font-size: 30px;
  }
  .right2 {
    float: right;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    margin: 34px 132px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: black;
  }
  h2 {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  span {
    color:#4267B2;
  }
  input[type="text"],
  input[type="password"] {
    width: 89%;
    margin: 0px 0px 0px 0px;
    padding: 7px;
  }
  input[type="text"]#firstname {
    width: 40%;
    margin: 0px 0px 0px 0px;
    padding: 7px;
  }
  input[type="text"]#lastname {
    width: 40%;
    margin: 0px 0px 0px 20px;
    padding: 7px;
  }
  input[type="radio"]{
      margin-left:17px;
      width:5%;
  }
  input[type="button"].hero-btn {
    width: 50%;
    background-color: green;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0px 0px 25px 0px;
    padding: 10px;
  }
  hr{
      width:100%;
      margin:0px 0px 10px 0px;
  }
  @media(prefers-color-scheme:light){
    body{
      background-color:#fff;
    }
  }
  @media(prefers-color-scheme:dark){
    body{
      background-color:#000;
    }
  }